---
import Layout from "@rst/layouts/Layout.astro";
import { Button } from "@common/components/Button.tsx";
import { getProgramGroupedByStarthour } from "@rst/components/anmeldung/data.ts";
import EventList from "@rst/components/EventList.astro";

export const frontmatter = {
  navigation: {
    group: "main",
    label: "Programm 2024",
    order: 2,
  },
};

const program = await getProgramGroupedByStarthour();
const saturday = Object.entries(program.SATURDAY);
const sunday = Object.entries(program.SUNDAY);
const colorsOfHour: Record<string, string> = {
  "10": "special",
  "11": "success",
  "14": "danger",
  "15": "special",
  "19": "success",
};
---

<Layout metaTitle="Programm 2024">
  <h1>Programm 2024</h1>

  <a href="#Samstag" style="border: none;"><Button label="Samstag" /></a>
  <a href="#Sonntag" style="border: none;"><Button label="Sonntag" /></a>

  <h2 id="Samstag">Samstag, 24. August 2024</h2>
  {
    saturday.map(([hour, entries]) => (
      <>
        <h3>Start {hour} Uhr</h3>
        <EventList hour={hour} entries={entries} />
      </>
    ))
  }

  <a href="#top" style="border: none;"><Button label="nach oben" /></a>
  <a href="/anmeldung" style="border: none;"
    ><Button label="jetzt Anmelden" kind="success" /></a
  >

  <h2 id="Sonntag">Sonntag, 25. August 2024</h2>

  {
    sunday.map(([hour, entries]) => (
      <>
        <h3>Start {hour} Uhr</h3>
        <EventList hour={hour} entries={entries} />
      </>
    ))
  }

  <a href="#top" style="border: none;"><Button label="nach oben" /></a>
  <a href="/anmeldung" style="border: none;"
    ><Button label="jetzt Anmelden" kind="success" /></a
  >
</Layout>
