---
import Favicon from "./partials/favicon.astro";
import Header from "./partials/header.astro";
import Footer from "./partials/footer.astro";
import ToC from "@common/components/toc/ToC.astro";
import type { NavigationEntry } from "@common/layouts/types.ts";
import type { TocConfig, AstroHeading } from "@common/components/toc/utils";

type Props = {
  locale?: "de" | "en";
  title?: string;
  metaTitle?: string;
  description?: string;
  keywords?: string;
  siteCode: string;
  siteName: string;
  siteTagline: string;
  mainNavigation: NavigationEntry[];
  secondaryNavigation: NavigationEntry[];
  development: boolean;
  toc: TocConfig | null;
  headings: AstroHeading[];
};

const {
  locale,
  title,
  metaTitle,
  description,
  keywords,
  siteCode,
  siteName,
  siteTagline,
  mainNavigation,
  secondaryNavigation,
  development,
  toc,
  headings,
} = Astro.props;
---

<!doctype html>
<html lang={locale ?? "de"} dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {description && <meta name="description" content={description} />}
    {keywords && <meta name="keywords" content={keywords} />}
    <title>{metaTitle ?? title}</title>
    <script src="/icons/duotone.min.js" is:inline></script>
    <script src="/icons/fontawesome.min.js" is:inline></script>
    <script src="../scripts/script.js"></script>
    <Favicon />
  </head>

  <body class={siteCode}>
    <Header
      siteCode={siteCode}
      siteName={siteName}
      siteTagline={siteTagline}
      mainNavigation={mainNavigation}
      secondaryNavigation={secondaryNavigation}
    />
    <div class="main-wrapper">
      <main class="primary-content content">
        {title !== undefined && title.length > 0 && <h1>{title}</h1>}
        <ToC headings={headings} toc={toc} />
        <slot />
      </main>
    </div>
    <Footer development={development} />
  </body>
</html>
